.card{
    height:277px;
    width:300px;
    /* text-align: justify; */
}
.card>img{
    height:150px;
    width:150px;
    
    
}
.card-body{
    text-align: center;
}
.card-img-top{
    margin-left:70px;
}
.dataItem{
    width:70%;
}